/* Comments */
/* You don't have a life for look my code */


/* header */
header, footer{
  height: 60px;
}

.flex-base {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


/* Center */
.flex-center {
  align-items: center;

}

/* Pas de marge */
.no-padding-margin{
  margin: 0;
  padding: 0;
}

/* Enlever les points des list  */
.list-no-style {
  list-style: none;
}

/* text noir et en majuscule  */
.menu-buttons>li>a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

/* Marge */
.menu-buttons>li {
  padding-left: 10px;
  padding-right: 10px;
}

/* ARRIERE PLAN NOIR - COULEUR BLANCHE - Majuscule  */
.menu-buttons>li>a:hover {
  background-color: black;
  color: white;
  text-transform: uppercase;
}


.menu-buttons>li>a:hover {
  color: white;
  background-color: black;
}

/* ecart entre les différentes li */
ul.flex-center {
  width: 300px;
}


.full-height {
  height: 100%;
}




/* Footer
footer, ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
}

*/
